
<p>
  Good day <%= params[:user].email %> ,  <%= @greeting %>
</p>
<p>
  If this email is not for you, please ignore it.The link will expire in 15 minutes.
</p>
<%= link_to "Reset password" , password_reset_edit_url(token: @token) %>